-# vim: sw=2
- require 'uri'

%nav
  %li
    %a{:href => url('/')} Home
  %li&= @smbfile.getURL

%table
  %thead
    %tr
      %th &nbsp;
      %th Filename
      %th{:align => 'right'} Size
      %th LastModified
  %tbody
    %tr
      %td
        %img{:src => url('/static/dir.svg'), :border => 0}
      %td{:style=>'min-width:50%;'}
        %a{ :href => url('/get/' + CIFS.escape_uri(@smbfile.getParent)) } ..
      %td &nbsp;
      %td &nbsp;
    - @dir.each do |file|
      %tr
        %td
          %img{ :src => url("/static/%s.svg" % CIFS::File.get_icon(file)), :border => 0 }
        %td
          - href = url('/get/' + CIFS.escape_uri(file.getURL.toString) )
          %a{ :href => href }&= file.getName
        %td{:align => 'right'}&= file.length
        %td&= Time.at(file.getDate/1000).iso8601
