-# vim: sw=2
!!! 5
%html
  %head
    :css
      body {
        font-family: helvetica, arial, sans-serif;
      }

      td { padding-left: 3px; padding-right: 3px; }

      .flash {
        margin: 3px;
        display: block;
      }
      .flash.message {
        padding: 3px;
        display: block;
        color: blue;
      }
      .flash.error {
        padding: 3px;
        display: block;
        background-color: red;
        color: yellow;
      }

      nav {
        display: block;
      }
      nav li {
        display: inline;
        padding: 5px;
      }
  %body= yield
